/* ARABIC FONT for COMMON PHRASES
   <i class="afcp size rotation name"></i>
*/
@font-face {
    font-family:"AFCP";
    src:url("https://cdn.rawgit.com/amughrabi/afcp/master/font/AGA_Islamic_Phrases.eot?") format("eot"),
    url("https://cdn.rawgit.com/amughrabi/afcp/master/font/AGA_Islamic_Phrases.woff") format("woff"),
    url("https://cdn.rawgit.com/amughrabi/afcp/master/font/AGA_Islamic_Phrases.ttf") format("truetype"),
    url("https://cdn.rawgit.com/amughrabi/afcp/master/font/AGA_Islamic_Phrases.svg#AGAIslamicPhrases") format("svg");
    font-weight:normal;
    font-style:normal;
}

.afcp {
    display: inline-block;
    font: normal normal normal 30px/1 "AFCP";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.afcp-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.afcp-2x {
    font-size: 2em;
}

.afcp-3x {
    font-size: 3em;
}

.afcp-4x {
    font-size: 4em;
}

.afcp-5x {
    font-size: 5em;
}

.afcp-left {
    float: left;
}

.afcp-right {
    float: right;
}

.afcp-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.afcp-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.afcp-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.afcp-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.afcp-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

/* phrases */

.afcp-in-the-name-of-allah-the-merciful:before {
    content: "\0021"; /* unicode &#33;*/
}

.afcp-islam:before {
    content: "\0022";
}

.afcp-in-the-name-of-allah-the-merciful-farsi:before {
    content: "\0023";
}

.afcp-in-the-name-of-allah-the-merciful-farsi-o:before {
    content: "\0024";
}

.afcp-in-the-name-of-allah-the-merciful-roqaa:before {
    content: "\0025";
}

.afcp-in-the-name-of-allah-the-merciful-kufi:before {
    content: "\0026";
}

.afcp-ramdan:before {
    content: "\0027";
}

.afcp-mashallah:before {
    content: "\0028";
}

.afcp-alhamedallah-rab-al3almeen:before {
    content: "\0029";
}

.afcp-be-with-allah:before {
    content: "\002A";
}

.afcp-alhamedallah:before {
    content: "\002B";
}

.afcp-allah-loves-that-whenever-any-of-you-does-something-he-should-excel-in-it:before {
    content: "\002C";
}

.afcp-in-the-name-of-allah-the-merciful-simple-maze:before {
    content: "\002D";
}

.afcp-say-allah-to-keep-calm:before {
    content: "\002E";
}

.afcp-al-falaq:before {
    content: "\002F";
}

.afcp-in-the-name-of-allah-the-merciful-rhombus:before {
    content: "\0030";
}

.afcp-in-the-name-of-allah-the-merciful-curve:before {
    content: "\0031";
}

.afcp-in-the-name-of-allah-the-merciful-signature:before {
    content: "\0032";
}

.afcp-in-the-name-of-allah-the-merciful-ball-shape:before {
    content: "\0033";
}

.afcp-in-the-name-of-allah-the-merciful-ball-shape-2:before {
    content: "\0034";
}

.afcp-in-the-name-of-allah-the-merciful-ball-shape-3:before {
    content: "\0035";
}

.afcp-in-the-name-of-allah-the-merciful-ball-shape-4:before {
    content: "\0036";
}

.afcp-in-the-name-of-allah-the-merciful-oval-bold:before {
    content: "\0037";
}

.afcp-in-the-name-of-allah-the-merciful-oval-normal:before {
    content: "\0038";
}

.afcp-in-the-name-of-allah-the-merciful-oval-italic:before {
    content: "\0039";
}

.afcp-glory-be-to-allah:before {
    content: "\003A";
}

.afcp-congrats-sabreen:before {
    content: "\003B";
}

.afcp-thanks-allah-star:before {
    content: "\003C";
}

.afcp-in-the-name-of-allah-the-merciful-complex-maze:before {
    content: "\003D";
}

.afcp-thanks-allah-circle:before {
    content: "\003E";
}

.afcp-allah-is-the-greatest:before {
    content: "\003F";
}

.afcp-in-the-name-of-allah-the-merciful-othmani:before {
    content: "\0040";
}

.afcp-great-truth-of-god:before {
    content: "\0041";
}

.afcp-mohammad-star:before {
    content: "\0042";
}

.afcp-iqraa-circle:before {
    content: "\0043";
}

.afcp-great-truth-of-god-farsi:before {
    content: "\0044";
}

.afcp-allah-is-the-greatest-farsi:before {
    content: "\0045";
}

.afcp-no-god-but-allah:before {
    content: "\0046";
}

.afcp-come-to-success:before {
    content: "\0047";
}

.afcp-come-to-pray:before {
    content: "\0048";
}

.afcp-quran:before {
    content: "\0049";
}

.afcp-believe-mohammad-is-masseger:before {
    content: "\004A";
}

.afcp-believe-no-god-but-allah:before {
    content: "\004B";
}

.afcp-allah-is-the-greatest-2x:before {
    content: "\004C";
}

.afcp-mohammad-oval-shape:before {
    content: "\004D";
}

.afcp-mohammad-oval-shape-2:before {
    content: "\004E";
}

.afcp-quran-ruqa:before {
    content: "\004F";
}

.afcp-quran-othmani:before {
    content: "\0050";
}

.afcp-allah-is-the-greatest-star:before {
    content: "\0051";
}

.afcp-allah-is-the-greatest-othmani:before {
    content: "\0052";
}

.afcp-great-truth-of-god-othmani:before {
    content: "\0053";
}

.afcp-allah-is-the-greatest-circle:before {
    content: "\0054";
}

.afcp-allah-is-the-greatest-circle-bold:before {
    content: "\0055";
}

.afcp-iqraa-star:before {
    content: "\0056";
}

.afcp-allah-is-the-greatest-o:before {
    content: "\0057";
}

.afcp-merciful:before {
    content: "\0058";
}

.afcp-allah-is-the-greatest-bold:before {
    content: "\0059";
}

.afcp-rahman:before {
    content: "\005A";
}

.afcp-mohammad-is-the-messenger:before {
    content: "\005B";
}

/* No need for public use
.afcp-copy-right:before {
    content: "\005C"
}*/

.afcp-mohammad:before {
    content: "\005D";
}

.afcp-in-the-name-of-allah-the-merciful-o:before {
    content: "\005E";
}

.afcp-thanks-to-allah:before {
    content: "\005F";
}

/* No need for public use
.afcp-copy-right:before {
    content: "\0060";
}*/

.afcp-peace-be-upon-him:before {
    content: "\0061";
}

.afcp-room-19:before {
    content: "\0062";
}

.afcp-sharh-5:before {
    content: "\0063";
}

.afcp-may-allah-be-pleased-with-him:before {
    content: "\0064";
}

.afcp-allah-o:before {
    content: "\0065";
}

.afcp-may-allah-be-pleased-with-him-2:before {
    content: "\0066";
}

.afcp-may-allah-be-pleased-with-her:before {
    content: "\0067";
}

.afcp-islam:before {
    content: "\0068";
}

.afcp-shahadateen:before {
    content: "\0069";
}

.afcp-peace:before {
    content: "\006A";
}

.afcp-repel-evil-by-that-deed-which-is-better:before {
    content: "\006B";
}

.afcp-parents:before {
    content: "\006C";
}

.afcp-alalaa-5:before {
    content: "\006D";
}

.afcp-noor-35:before {
    content: "\006E";
}

.afcp-shahadateen-circle:before {
    content: "\006F";
}

.afcp-shahadateen-circle-2:before {
    content: "\0070";
}

.afcp-allah:before {
    content: "\0071";
}

.afcp-allah-2:before {
    content: "\0072";
}

.afcp-peace-be-upon-him-circle:before {
    content: "\0073";
}

.afcp-allah-circle:before {
    content: "\0074";
}

.afcp-exalted-and-majestic:before {
    content: "\0075";
}

.afcp-room-21:hover {
    content: "\0076";
}

.afcp-allah-star:before {
    content: "\0077";
}

.afcp-advice:before {
    content: "\0078";
}

.afcp-the-almighty:before {
    content: "\0079";
}

.afcp-hejir-46:before {
    content: "\007A";
}

.afcp-quran-2:before {
    content: "\007B";
}

.afcp-quran-star:before {
    content: "\007D";
}